* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}


header {
  height: 150px;
}

.container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
}

header ul,
main ul,
footer ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.logo {
  height: 70%;
}

header img {
  height: 100%;
}

header a {
  font-size: small;
  color: rgb(75, 75, 75);
  font-weight: bold;
}

.active,
.headerList a:hover {
  padding-bottom: 60px;
  border-bottom: 5px solid #0282F9;
}

ul li a,
h2 a {
  padding: 10px;
  text-decoration: none;
}

main {
  min-height: calc(100vh - 300px);
  color: white;
}

main section>div {
  height: 150px;
}

main section:first-child>div:first-child {
  background-color: #1C1C1C;
}

main section:first-child>div:last-child {
  position: relative;
  z-index: 1;
  background-color: #0282F9;
}

main section:first-child a {
  display: flex;
  align-items: center;
}

main section:first-child a img {
  height: 40px;
  margin: 10px;
}

main a {
  color: white;
}

main section:last-child {
  height: calc(100vh - 600px);
  width: 100%;
  background-image: url("../src/assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.link {
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 300px;
}

footer {
  position: relative;
  z-index: 1;
  height: 150px;
  background-color: #303030;
}

button {
  border: 2px solid #0282F9;
  padding: 10px;
  background-color: #303030;
  color: white;
  cursor: pointer;
}

h3 {
  color: #0282F9;
  margin-right: 20px;
}