* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 100px;
}

.container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul,
main ul,
.social ul,
.blueBand ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.logo {
  height: 70%;
}

header img {
  height: 100%;
}

header a {
  font-size: small;
  color: rgb(75, 75, 75);
  font-weight: bold;
}

.active,
.headerList a:hover {
  padding-bottom: 35px;
  border-bottom: 5px solid #0282F9;
}

ul li a,
h2 a {
  padding: 10px;
  text-decoration: none;
}

main {
  background-color: #1C1C1C;
  color: white;
}

.jumbotron {
  background-image: url("/public/img/jumbotron.jpg");
  height: 400px;
}

.blueBand {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #0282F9;

  a {
    color: white;
    display: flex;
    align-items: center;

    img {
      height: 40px;
      margin: 10px;
    }
  }
}

main a {
  color: white;
}

.bgFooter {
  position: absolute;
  width: 100%;
  background-image: url("img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.link {

  li {
    display: block;
    margin-right: 25px;
  }

  a {
    color: #7e7e7e;
    padding: 0;
  }
}

footer {
  color: white;
  background-color: #303030;
}

.flex {
  display: flex;
}

.red {
  background-color: rgba(255, 0, 0, 0.384);
}

.row {
  width: 50%;
  display: flex;
  flex-direction: column;
}

button {
  border: 2px solid #0282F9;
  padding: 10px;
  background-color: #303030;
  color: white;
  cursor: pointer;
}

.followUs {
  height: auto;
}

h3 {
  color: #0282F9;
  margin-right: 20px;
}

.social {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #303030;
}